<footer class="footer">

  <div class="container">
    
    <p>
      Copyright TJ Simons 2015
    </p>

    <p>
      <a class="footer__link" href="https://github.com/{{ site.github_username }}">
        <i class="fa fa-github"></i>
      </a>
      <a class="footer__link" href="https://twitter.com/{{ site.twitter_username }}">
       <i class="fa fa-twitter"></i>
      </a>
      <a class="footer__link" href="{{ site.linkedin_url }}">
       <i class="fa fa-linkedin"></i>
      </a>
    </p>

  </div>

</footer>
