body {
    font-family: 'Average Sans', sans-serif;
    font-size: 16px;
    color: $text-color;
}

h1, h2, h3, h4, h5 {
    font-family: 'fjalla one', sans-serif;
}

h1 {
	font-size: em(24);
}

h2 {
	font-size: em(21);
}

h3 {
	font-size: em(18);
}

a {
	color: $orange;
	text-decoration: none;

	&:visited {
		text-decoration: none;
		color: #999;
	}

	&:hover {
		text-decoration: underline;
		color: lighten($orange, 15%);
	}

	&:active {
		text-decoration: none;
		color: $orange;
	}
}

.page__content {
	padding: 1em 0;
}